/* ::noauto:: */

//http://lcarsmania.com/designguide/Okudagrams_Color.png

$background: black;
$text: #FFFFFF;
$base: #FF9D2C;
$baseText: #000;
$lightbase: #FBBE66;

$blue:#003FE7;
$lightblue:#93CBFC;
$lightestblue:#DAFFFF;

$red:#A90F25;

$medical:$blue;
$alert:$red;

